* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5rem;
}

.header {
    font-size: 1rem;
    letter-spacing: 0.25rem;
    text-align: center;
    margin: 2rem auto;
}

.main {
    text-align: center;
}

.block1,
.block2,
.block3 {
    float: left;
    padding: 0.5rem;
    margin: 1rem 1rem;
    width: calc(33.3% - 2rem);
    background-color: #e6e9e7;
    border: 1px solid #3a3e3b;
    position: relative;
}

.block-title {
    margin-bottom: 0.5rem;
    top: -8px;
    left: 8px;
    text-align: center;
    margin-left: 70%;
    padding: 10px;
    background-color: brown;
    position: relative;
    border: 1px solid #3a3e3b;
}

.title {
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: bold;
    color: white;
}

.description {
    text-transform: capitalize;
    text-align: left;
}

#title2 {
    background-color: gray;
}

#title3 {
    background-color: indigo;
}

@media screen and (min-width:768px) and (max-width:991px) {
    .block3 {
        width: calc(100% - 2rem);
    }
    .block1,
    .block2 {
        float: left;
        width: calc(50% - 2rem);
    }
}

@media screen and (max-width:767px) {
    .block1,
    .block2,
    .block3 {
        float: left;
        width: calc(100% - 2rem);
    }
}