body {
    color: #ffffff;
    font-family: serif;
}

#header-nav {
    background-color: #85E3ff;
    text-align: left;
    padding: 16px 16px;
    border: 2px solid #BCBDB3
}

#header-container {
    margin: auto 30px;
}

#header-container h1 {
    color: whitesmoke;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
}

.navbar-toggler:hover,
.navbar-toggler-icon:hover {
    background-color: #BCBDB3;
}

.navbar-nav .nav-link {
    text-align: center;
}

#navbarmenu {
    margin-top: -2px;
    border: 2px solid #BCBDB3
}

.nav-item1,
.nav-item2 {
    border-bottom: 2px solid #BCBDB3;
}

.nav-item1:hover,
.nav-item2:hover,
.nav-item3:hover {
    background-color: #FFFFD1;
}

.nav-link span {
    color: #2B2B2D;
}

.End {
    text-transform: capitalize;
}

#main {
    color: black;
    font-size: 50px;
    text-transform: capitalize;
    padding: 3rem 0;
}

.content-box {
    background-color: gray;
    margin-bottom: 5rem;
    padding: 25px;
}

.content-box h3 {
    text-align: center;
    text-transform: capitalize;
}

.content-box div {
    text-align: left;
}

@media (min-width:768px) {
    .navbar-nav,
    .nav-item1,
    .nav-item2,
    .navbar-collapse {
        display: none;
    }
}